@model IEnumerable<Fartak.DbModels.Categories>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-action="SearchInProducts" asp-controller="Product" asp-route-word="@item.Category">@item.Category</a>
            </td>
            <td>
                <a asp-action="SearchInProducts" asp-controller="Product"  asp-route-word="@item.Name">@item.Name</a>
            </td>
            <td>
                <a asp-action="SearchInProducts" asp-controller="Product"  asp-route-word="@item.Model">@item.Model</a>
            </td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsCategory" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
